---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";

---

<Layout title="About">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Nosotros</Fragment>
      <Fragment slot="desc">Somos una pequeña comunidad unida.</Fragment>
    </Sectionhead>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <p class="text-lg leading-relaxed text-slate-500">
        En El Condominio el Prado de Linda Vista, creemos que la convivencia pacífica, la colaboración y el respeto mutuo son los pilares fundamentales de nuestra comunidad. Nuestro objetivo es ofrecer un entorno seguro y armonioso, donde cada uno de nuestros residentes se sienta parte de una gran familia, respetando la privacidad y las necesidades de los demás.
      </p>
      <p class="text-lg leading-relaxed text-slate-500">
        Promovemos un estilo de vida colaborativo, fomentando el diálogo abierto y el trabajo conjunto para mantener y mejorar las áreas comunes, siempre en busca del bienestar de todos. Aquí, valoramos el respeto como la base de nuestras interacciones, reconociendo la importancia de cuidar tanto los espacios compartidos como el ambiente de cordialidad entre vecinos.
      </p>
      <p class="text-lg leading-relaxed text-slate-500">
        
        Al vivir en aquí, no solo disfrutas de espacios verdes, instalaciones modernas y seguridad, sino también de una comunidad comprometida con la calidad de vida, donde las diferencias se respetan y las soluciones se encuentran de manera colaborativa.        
      </p>
    </div>
    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16"> 
      <h3 class="font-bold text-3xl text-gray-800">
        Visión
      </h3>
      <p class="text-lg leading-relaxed text-slate-500">
        "Ser una comunidad unida, segura y armoniosa, donde los vecinos trabajen en conjunto para mejorar la calidad de vida, el bienestar y la convivencia, logrando un ambiente que promueva el respeto, la participación activa y el desarrollo sostenible del condominio."        
      </p>
    </div>
    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
        <h3 class="font-bold text-3xl text-gray-800">
          Misión
        </h3>
        <p class="text-lg leading-relaxed text-slate-500">
            "Promover la convivencia pacífica y la cooperación entre los vecinos, gestionando de manera transparente y eficiente los recursos y necesidades del condominio, a fin de garantizar un entorno seguro, limpio y respetuoso, en el que se fomente la participación y el sentido de pertenencia de todos los residentes."
        </p>
      </div>
  
    <!-- <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-4xl mt-12">
      {
        publishedTeamMembers.map((teamMemberEntry) => (
          <div class="group">
            <div class="w-full aspect-square">
              <Picture
                src={teamMemberEntry.data.avatar.src}
                alt={teamMemberEntry.data.avatar.alt}
                sizes="(max-width: 800px) 100vw, 400px"
                width={400}
                height={400}
                class="w-full rounded-md rounded transition group-hover:-translate-y-1 group-hover:shadow-xl bg-white object-cover object-center aspect-square"
              />
            </div>

            <div class="mt-4 text-center">
              <h2 class="text-lg text-gray-800">{teamMemberEntry.data.name}</h2>
              <h3 class="text-sm text-slate-500">
                {teamMemberEntry.data.title}
              </h3>
            </div>
          </div>
        ))
      }
    </div> -->
  </Container>
</Layout>
