---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import { Icon } from "astro-icon/components";


const documents = [
  {
    title: "Reglamento Asociación del Condominio El Prado de Linda Vista",
    description:
      "Reglamento de convivencia y uso de áreas comunes del condominio.",
    icon: "bx:bxs-star",
    url: "#",
  },
];

---

<Layout title="Blog">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Documentos</Fragment>
      <Fragment slot="desc">
        Documentos, reglamentos y otros archivos de interés para los vecinos.
      </Fragment>
    </Sectionhead>
    <main class="mt-16">
      <ul class="grid gap-16 max-w-4xl mx-auto">
        {
          documents.map((document) => (
            <li class="flex flex-col">
              <div class="flex items-center">
                <Icon name={document.icon} class="mr-2" />
                <a href={document.url}>
                  {document.title}
                </a>
              </div>
              <span>
                <small style="color: #333">{document.description}</small>
              </span>
              
            </li>
            ))
        }
      </ul>
    </main>
  </Container>
</Layout>
